<div class="d-fc-ja-ac full-height">
  <div class="text-center">
    <img src="assets/images/insta.jpg">
    <h2 class="mb-0">Akhil Regonda</h2>
    <h5>Full Stack Developer</h5>
  </div>
  <div class="social-links">
    <a matRipple href="https://www.facebook.com/akhil.regonda" target="_blank"><i class="fab fa-facebook-f"></i></a>
    <a matRipple href="https://www.linkedin.com/in/akhil-regonda/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
    <a matRipple href="https://dribbble.com/cycosad" target="_blank"><i class="fas fa-basketball-ball"></i></a>
  </div>
  <div class="under-construction"><i class="fas fa-exclamation-triangle pr-2"></i>
    Under construction
    <br>
    <a href="https://old-akhil-regonda.azurewebsites.net/" target="_blank">Click</a> to view old site.
  </div>
</div>
